apiVersion: batch/v1
kind: Job
metadata:
  name: copy-engine-generic-deps-job-{{ .Release.Revision }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      containers:
      - name: copy-deps
        image: {{ .Values.generic_calculator_image }}:{{ .Values.image_tag }}-{{ .Values.generic_py_ver }}
        command: ["python", "/app/generic_src/copy_engine_generic_deps.py"]
        envFrom:
        - configMapRef:
            name: engine-cm
        env:
        - name: HMAC_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: rootUser
        - name: HMAC_ACCESS_KEY_SECRET
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: rootPassword
      restartPolicy: Never
  backoffLimit: 3

