apiVersion: v2
name: tensorleap
type: application
version: 1.4.54-rc.0
dependencies:
  - name: ingress-nginx
    version: 4.10.0
    repository: https://kubernetes.github.io/ingress-nginx
    condition: ingress-nginx.enabled
  - name: keycloakx
    version: "7.1.2"
    repository: "https://codecentric.github.io/helm-charts"
    condition: keycloakx.enabled
  - name: datadog
    version: 3.59.2
    repository: https://helm.datadoghq.com
    condition: datadog.enabled
