name: Release Installation Manifest

on:
  workflow_dispatch:
    inputs:
      custom_tag_prefix:
        description: "Custom tag"
        required: false
        default: ""
  workflow_run:
    workflows: ["Release Charts"]
    # branches:
      # - master
    types:
      - completed

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod

      - name: Get tensorleap chart version
        id: get_tensorleap_chart_version
        # Create output that contains the version from charts/tensorleap/Chart.yaml
        run: |
          CHART_VERSION=$(cat charts/tensorleap/Chart.yaml | grep -E '^version:' | awk '{print $2}')
          echo "version=$CHART_VERSION" >> $GITHUB_OUTPUT

      - name: Get tensorleap infra chart version
        id: get_tensorleap_infra_chart_version
        # Create output that contains the version from charts/tensorleap-infra/Chart.yaml
        run: |
          INFRA_CHART_VERSION=$(cat charts/tensorleap-infra/Chart.yaml | grep -E '^version:' | awk '{print $2}')
          echo "version=$INFRA_CHART_VERSION" >> $GITHUB_OUTPUT

      - name: Set manifest version
        id: set_manifest_version
        run: |
          # Set the manifest version to the tensorleap chart version
          echo "tag=${{ inputs.custom_tag_prefix || 'manifest' }}-${{ steps.get_tensorleap_chart_version.outputs.version }}" >> $GITHUB_OUTPUT

      - name: Create installation manifest
        run: |
          go run . create-manifest --tensorleap-chart-version ${{ steps.get_tensorleap_chart_version.outputs.version }} --tensorleap-infra-chart-version ${{ steps.get_tensorleap_infra_chart_version.outputs.version }} --tag ${{ steps.set_manifest_version.outputs.tag }} --output manifest.yaml

      - name: Print charts versions
        run: |
          echo "Tensorleap chart version ${{ steps.get_tensorleap_chart_version.outputs.version }}"
          echo "Tensorleap infra chart version ${{ steps.get_tensorleap_infra_chart_version.outputs.version }}"

      - name: Print manifest
        run: cat manifest.yaml

      - uses: ncipollo/release-action@v1

        with:
          artifacts: "manifest.yaml"
          tag: "${{ steps.set_manifest_version.outputs.tag }}"
          skipIfReleaseExists: true
          generateReleaseNotes: true