name: Release Version To Production

on:
  workflow_call:
    inputs:
      custom_tag_prefix:
        description: "Custom tag prefix for manifest"
        required: false
        type: string
        default: ""
  workflow_dispatch:
    inputs:
      custom_tag_prefix:
        description: "Custom tag prefix for manifest"
        required: false
        default: ""

# Allow pushing new branches using the provided token
permissions:
  contents: write

jobs:
  remove-rc-suffix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true
          token: ${{ secrets.TENSORLEAP_OPS_GITHUB_TOKEN }}

      - name: Configure Git identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
        shell: bash

      - name: Get current branch name
        id: get_branch
        run: |
          BRANCH=$(git rev-parse --abbrev-ref HEAD)
          echo "branch=$BRANCH" >> $GITHUB_OUTPUT
          echo "Current branch: $BRANCH"
        shell: bash

      - name: Remove -rc.x suffix from chart versions
        run: make remove-rc-suffix
        shell: bash

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: 'latest'

      - name: Extract image names
        run: |
          make build-helm
          make update-images
        shell: bash

      - name: Commit version changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "Remove -rc.x suffix for production release and update images.txt"
          github_token: ${{ secrets.TENSORLEAP_OPS_GITHUB_TOKEN }}

      - name: Release Charts
        uses: ./.github/actions/release-chart
        with:
          github_token: ${{ secrets.TENSORLEAP_OPS_GITHUB_TOKEN }}
          branch: ${{ steps.get_branch.outputs.branch }}

      - name: Release Manifest
        uses: ./.github/actions/release-manifest
        with:
          github_token: ${{ secrets.TENSORLEAP_OPS_GITHUB_TOKEN }}
          custom_tag_prefix: ${{ inputs.custom_tag_prefix }}
          branch: ${{ steps.get_branch.outputs.branch }}
