name: Release Version- From RC Branch to Production

on:
  # Manual trigger
  workflow_dispatch:
    inputs:
      custom_tag_prefix:
        description: "Custom tag prefix for manifest"
        required: false
        default: ""

# Allow pushing new branches using the provided token
permissions:
  contents: write

jobs:
  # Step 1: Update Images
  update-images:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true
          token: ${{ secrets.TENSORLEAP_OPS_GITHUB_TOKEN }}

      - name: Update Images
        uses: ./.github/actions/update-images
        with:
          github_token: ${{ secrets.TENSORLEAP_OPS_GITHUB_TOKEN }}

  # Step 2: Create Release Candidate
  release-candidate:
    needs: update-images
    if: needs.update-images.result == 'success'
    uses: ./.github/workflows/release_candidate.yml
    with:
      custom_tag_prefix: ${{ inputs.custom_tag_prefix }}
    secrets: inherit

  # Step 3: Run Tests and Release to Production
  test-and-production:
    needs: release-candidate
    if: needs.release-candidate.result == 'success'
    uses: ./.github/workflows/_test_and_production.yml
    with:
      custom_tag_prefix: ${{ inputs.custom_tag_prefix }}
    secrets: inherit
